#tiles {
  position: absolute;
  right: 0%;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
  width: 100%;
  height: 100vh;
  gap: 2px; /* adjust as needed */
}

.tile {
  width: 50px; /* Example size */
  height: 50px; /* Example size */
  background-color: #293d5c7e; /* Default color */
  transition: background-color 0.5s ease; /* Optional for smooth transition */
}

.toggled {
  /* Styles when toggled */
}
