:root {
  --background-color: #c5bcae;
  --btn-color: #f23f09;
  --btn-text-color: #fff;
  --project-card-bg: #ffffff00;
  --text-color: #222;
  --form-text-color: #555;
  --footer-text-color: #888;
}

[data-theme='dark'] {
  --background-color: #222;
  --btn-color: #fff;
  --btn-text-color: #222;
  --project-card-bg: #fff;
  --text-color: #fff;
  --form-text-color: #fff;
  --footer-text-color: #bbb;
}

body {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  margin: 0 auto 60px;
  pointer-events: auto; /* This ensures that the overlay is interactive */

}

#root {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

h1,h2,h3,p{
  color: var(--text-color);
  margin: 0;
  padding: 0;
z-index: 1;
}

h1,h2,h3,p{
  font-family: "Pixelify Sans", sans-serif;
}
h1,h2{
  text-transform:  uppercase;;
}
h2,h3{
  font-size: 20px;
}
h1{
  font-size: 32px;
}

p{
  font-size: 16px;
  font-weight: 300;
}

.sectionTitle {
  margin-bottom: 30px;
}

.hover {
  cursor: pointer;
}


html{
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

section{
  height: 100vh;
  scroll-snap-align: center;
}


#tiles {
  position: fixed;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
  width: 100%; /* Use viewport width */
  height: 100%; /* Use viewport height */
  gap: 2.5px; /* Adjust gap as needed */
  overflow: hidden; /* Hide overflow to ensure seamless effect */
}

.tile {
  width: 100%; /* Full width of the grid cell */
  height: 100%; /* Full height of the grid cell */
  background-color: #293d5c7e; /* Default color */
  transition: background-color 0.1s ease; /* Optional smooth transition */
}
.toggled {
 

}

@keyframes moveDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(+100% )); /* Moves down by the height of the grid plus one tile */
  }
}

